.dashboard-bg {
  background-color: #161625;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 3%;
}
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 82%;
}
.website-bg {
  display: flex;
  align-items: center;
}
.website-logo {
  width: 40px;
  height: 40px;
}
.website-name {
  font-family: Roboto;
  color: #2cc6c6;
  font-weight: bold;
  font-size: 25px;
  padding-left: 8px;
}
.heading {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 30px;
  margin: 0px;
}
.recharts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.failure-image {
  width: 35%;
}
.failure-text {
  font-family: Roboto;
  color: #cbd5e1;
  font-size: 26px;
  font-weight: bold;
}
.failure-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
